.header {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}

.nav-text {
  list-style-type: none;
  display: flex;
}

.nav-text li {
  margin-right: 10px;
}

.info {
  display: flex;
}
.name {
  margin-right: 10px;
}
.age {
  margin-right: 10px;
}
.user {
  margin-right: 10px;
}