.the-contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 20px; */
    
    



       
    
}
.experience--card{
    cursor: pointer;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 10px 30px;
    width: 100%; /* Adjust to 100% to make it responsive */
    max-width: 500px; 
    height: 300px;
    margin: 20px; /* Use shorthand for margin */
    position: relative;
    overflow: hidden;
}

/* @media screen and (max-width: 800px){
    .experience--card{
        max-width: 100%;
    }
} */

/* boxShadow: "0px 10px 30px",
background: black,
cursor: "pointer",
display: "flex",
flexDirection: "column",
justifyContent: "center",
width: "575px",
height: "300px",
marginLeft: "30px",
marginTop: "20px",
marginRight: "30px",
//padding: "1rem",
position: "relative", */