.contain {
    color: white;
    display: flex;
    justify-content: right;
}

.form--card {
    background: white;
    display: flex;;
    width: 25%;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;

}

.experience--container{
    display: flex;
} 

.experience--card {
    background: white;
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}
