/*.contain {
    color: white;
   display: flex;
    justify-content: right;
}*/

.form--card {
    background: white;
    display: flex;
    width: 25%;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;

}

.experience--container{
    display: flex;
    flex-wrap: wrap;
} 

/*.experience--card {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 161px;
    height: 180px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    position: relative;
}*/

.likeBtnContainer-hidden {
    display: none;
}

.likeBtnContainer {
    margin-top: 10px;
    padding: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.deleteBtn{
    margin-top: 10px;
    padding: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.likeBtn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.deleteBtn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.count {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 28px;
}

.locate{
    background-color: black;
    border-top: solid black 5px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0.4rem;
}

.condRender {
    cursor: pointer;
}


