.card {
    background-color: black;
    border-radius: 30px;
    opacity: .8;
    padding: 2em;
    position: fixed;
    width: 284px;
}

.weather--display {
    color: white;
    display: flex;
    flex-direction: column;
}
