body {
    background-color: gray;
}

.layout{
        display: flex;
        align-items: center;
        justify-content: center;
    
}

.layout form {
        background-color: rgb(223, 213, 213);
        border-radius: 20px;
        box-shadow: 10px 10px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        height: 300px;
        width: 500px;
    
}